@font-face {
  font-family: "iconfont"; /* Project id 3056253 */
  src: url('//at.alicdn.com/t/font_3056253_7kh66t24y9r.woff2?t=1640675335912') format('woff2'),
       url('//at.alicdn.com/t/font_3056253_7kh66t24y9r.woff?t=1640675335912') format('woff'),
       url('//at.alicdn.com/t/font_3056253_7kh66t24y9r.ttf?t=1640675335912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-morentouxiang:before {
  content: "\e604";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e70b";
}
