@font-face {
  font-family: "iconfont"; /* Project id 3056253 */
  src: url('//at.alicdn.com/t/font_3056253_0ieu7rgio5eh.woff2?t=1649846901991') format('woff2'),
  url('//at.alicdn.com/t/font_3056253_0ieu7rgio5eh.woff?t=1649846901991') format('woff'),
  url('//at.alicdn.com/t/font_3056253_0ieu7rgio5eh.ttf?t=1649846901991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dui:before {
  content: "\e609";
}

.icon-31haoyou:before {
  content: "\e601";
}

.icon-qiandao:before {
  content: "\e641";
}

.icon-tongzhi:before {
  content: "\e61d";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e70b";
}
